// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
$mobile: 48rem;

// Taken from https://github.com/Fenwick17/responsive-tables/blob/master/app/assets/sass/tables/transactions.scss
.responsive-table-one {
  width: 100%;

  thead {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    @media (min-width: $mobile) {
      clip: auto;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }
  }

  tbody {
    @media (min-width: $mobile) {
      display: table-row-group;
    }

    tr {
      display: block;
    }

    td {
      display: block; // For browsers that don't support flexbox
      display: flex;
      justify-content: space-between;
      vertical-align: middle;

      @media (min-width: $mobile) {
        display: table-cell;
      }

      @media (max-width: $mobile) {
        padding-right: 0;
      }
    }

    .table-heading {
      font-weight: 700;
      text-align: left;
      padding-right: 1em;
      display: block;

      @media (min-width: $mobile) {
        display: none;
      }
    }

    tr {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $mobile) {
        display: table-row;
      }

      th {
        text-align: right;

        @media (min-width: $mobile) {
          text-align: left;
        }
      }

      td {
        min-width: 1px;
        text-align: right;

        @media (min-width: $mobile) {
          text-align: left;
        }
      }
    }
  }
}

.responsive-table-two {
  width: 100%;

  thead {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    @media (min-width: $mobile) {
      clip: auto;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }
  }

  tbody {
    @media (min-width: $mobile) {
      display: table-row-group;
    }

    tr {
      display: block;
    }

    td {
      display: block; // For browsers that don't support flexbox
      display: flex;
      justify-content: space-between;
      vertical-align: middle;

      @media (min-width: $mobile) {
        display: table-cell;
      }

      @media (max-width: $mobile) {
        padding-right: 0;
      }
    }

    .table-heading {
      font-weight: 700;
      text-align: left;
      padding-right: 1em;
      display: block;

      @media (min-width: $mobile) {
        display: none;
      }
    }

    tr {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $mobile) {
        display: table-row;
      }

      th {
        text-align: right;

        @media (min-width: $mobile) {
          text-align: left;
        }
      }

      td {
        min-width: 1px;
        text-align: right;

        @media (min-width: $mobile) {
          text-align: left;
        }

      }
    }
  }
}

.responsive-table-three {
  width: 100%;

  .govuk-table__caption {
    @extend .govuk-visually-hidden;
  }

  thead {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    @media (min-width: $mobile) {
      clip: auto;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }
  }

  tbody {
    @media (min-width: $mobile) {
      display: table-row-group;
    }

    tr {
      display: block;
    }

    td {
      display: block; // For browsers that don't support flexbox
      display: flex;
      justify-content: space-between;
      vertical-align: middle;

      @media (min-width: $mobile) {
        display: table-cell;
      }

      @media (max-width: $mobile) {
        padding-right: 0;
      }
    }

    .table-heading {
      font-weight: 700;
      text-align: left;
      padding-right: 1em;
      display: block;

      @media (min-width: $mobile) {
        display: none;
      }
    }

    tr {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $mobile) {
        display: table-row;
      }

      th {
        text-align: right;

        @media (min-width: $mobile) {
          text-align: left;
        }
      }

      td {
        min-width: 1px;
        text-align: right;

        @media (min-width: $mobile) {
          text-align: left;
        }

      }
    }
  }
}

.responsive-table-four {
  overflow-x: auto;
  width: 100%;
  display: block;
}

.responsive-table-one-v2 {
  .table-of-contents {
    .govuk-list {
      li {
        line-height: 2;
      }
      li::before {
        content: "\2014 ";
        padding-right: 5px;
      }
    }
    @media (min-width: $mobile) {
      display: none;
    }
  }
  .agreement-links {
    margin-top: 2.5rem;
    @media (min-width: $mobile) {
      display: none;
    }
  }
  th {
    font-size: 1.125rem;
    padding: 1.5rem 0 1rem 0;
    margin-bottom: 0;
    border-bottom: 0;

    @media (min-width: 40.0625em) {
      font-size: 1.5rem;
    }
    
    @media (min-width: $mobile) {
      padding: unset;
      margin-bottom: unset;
      font-size: 1.1875rem;
      padding: 10px 20px 10px 0;
      border-bottom: 1px solid #bfc1c3;
    }
  }
  caption {
    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.scroll-to-see-more {
  @media (min-width: $mobile) {
    display: none;
  }
}

.responsive-table-four-v3 {
  thead {
    border-top: 2px solid #bfc1c3;
  }
}
