
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        CAIT Comparison Table Prototypes
      </h1>

      <p>These options have gone through several iterations, according to the needs of the particular service we're working on. 

      <h2 class="govuk-heading-m">Phase 1</h2>
      <p>In this phase, I took existing patterns and tables that others across government had already created. I used these things as a base for a series of potential options for our form.</p>

      <h3 class="govuk-heading-s"><a href="./table-one">Option 1 - Responsive Plain Table</a></h3>
      <p>This example is responsive but doesn't have the ability to expand content out on mobile.</p>

      <h3 class="govuk-heading-s"><a href="./table-two">Option 2 - Responsive Details Table</a></h3>
      <p>This option is responsive, and allows you to hide and expand content using the Design System details component</p>

      <h3 class="govuk-heading-s"><a href="./table-three">Option 3 - Responsive Accordion Table</a></h3>
      <p>This table is responsive, and allows you to hide and expand content using the Design System accordion component</p>

      <h3 class="govuk-heading-s"><a href="./table-four">Option 4 - Unresponsive Scroll Table</a></h3>
      <p>This table is responsive, and allows you to hide and expand content using the Design System accordion component</p>

      <h2 class="govuk-heading-m">Phase 2</h2>
      <p>The Service Designer and I discussed the Phase 1 options. We decided that Option 1 and Option 4 were the most appropriate for our particular use case, but that we liked the benefits of Option 3. So, in this phase, we're making some adjustments to them to try and bring in the benefits that Option 3 offers.</p>
      
      <p>We've also decided to rearrange the headers and table headers a little, and incorporate links to the respective options' pages.</p>

      <h3 class="govuk-heading-s"><a href="./table-one-v2">Option 1 - Responsive Plain Table</a></h3>
      <p>In this iteration, we took inspiration from the Tab pattern on the Design System. We liked that accordions allowed you to switch between different groups of information, but found it didn't work on desktop. So, we're pulling across the 'Table of Contents' idea that is on the mobile version of the Tab component, and incorporating it into this table.</p>

      <h3 class="govuk-heading-s"><a href="./table-four-v2">Option 4 - Unresponsive Scroll Table</a></h3>
      <p>In this iteration, we've adjusted the table headers to make them links, as including links is also a requirement of our table.</p>

    </div>
</div>

{% endblock %}
