
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        CAIT Comparison Table Prototypes
      </h1>

      <h2 class="govuk-heading-m"><a href="./table-one">Option 1 - Responsive Plain Table</a></h2>
      <p>This example is responsive but doesn't have the ability to expand content out on mobile.</p>

      <h2 class="govuk-heading-m"><a href="./table-two">Option 2 - Responsive Details Table</a></h2>
      <p>This option is responsive, and allows you to hide and expand content using the Design System details component</p>

      <h2 class="govuk-heading-m"><a href="./table-three">Option 3 - Responsive Accordion Table</a></h2>
      <p>This table is responsive, and allows you to hide and expand content using the Design System accordion component</p>

      <h2 class="govuk-heading-m"><a href="./table-four">Option 4 - Unresponsive Scroll Table</a></h2>
      <p>This table is responsive, and allows you to hide and expand content using the Design System accordion component</p>

    </div>
</div>

{% endblock %}
