
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        CAIT Comparison Table Prototypes
      </h1>

      <p>For this project, we've needed to create a table that is responsive, and has a focus on allowing you to compare various options against each other. There is a basic table in the Design System, but it is too simple for our use case. So we've been creating something more tailored.</p>
      
      <p>So far, there have been three phases of iterations (of which Phase 3 was the final). These are detailed below.</p> 

      <h2 class="govuk-heading-l">Phase 3</h2>

      <ul>
        <li><h3 class="govuk-heading-m"><a href="./table-seven">Option 7 - Unresponsive Scroll Table v3.0 </a></h3>
        <p>After Phase 2, we had a long discussion and decided that version 2 of Option 4 was the most appropriate. That is because it preserves the ability to directly compare when on different screen sizes, which is the most important part of this table. We made a few tweaks to it though, to make it clearer that you have to scroll to see the whole table.</p></li>      
      </ul>

      <h2 class="govuk-heading-l">Phase 2</h2>
      <p>For Phase 2, we decided that Options 1 and 4 were the most appropriate for our particular use case, but that we liked some of the benefits of Option 3. So we've tried to combine the best bits of those options.</p>
  
      <ul>
        <li><h3 class="govuk-heading-m"><a href="./table-five">Option 5 - Responsive Plain Table  v2.0</a></h3>
        <p>In this iteration, we drew from the Design System's Tab pattern. We liked that accordions allowed you to switch between different groups of information on mobile, but found it didn't work on desktop. So this pulls across the 'Table of Contents' from the Tab component, on mobile, as a quick way of navigating between content.</p></li>

        <li><h3 class="govuk-heading-m"><a href="./table-six">Option 6 - Unresponsive Scroll Table v2.0</a></h3>
        <p>We've kept this one broadly the same as the previous version, aside from adjusting the table headers to make them links.</p></li>
      </ul>

      <h2 class="govuk-heading-l">Phase 1</h2>
      <p>In this phase, I took existing patterns and tables that others across government had already created and used them as a base. Reference list is at the bottom of the page.</p>

      <ul>
        <li><h3 class="govuk-heading-m"><a href="./table-one">Option 1 - Responsive Plain Table  v1.0</a></h3>
        <p>This example is responsive but doesn't have the ability to expand content out on mobile.</p></li>

        <li><h3 class="govuk-heading-m"><a href="./table-two">Option 2 - Responsive Details Table  v1.0</a></h3>
        <p>This option is responsive, and allows you to hide and expand content using the Design System details component</p></li>

        <li><h3 class="govuk-heading-m"><a href="./table-three">Option 3 - Responsive Accordion Table v1.0</a></h3>
        <p>This table is responsive, and allows you to hide and expand content using the Design System accordion component</p></li>

        <li><h3 class="govuk-heading-m"><a href="./table-four">Option 4 - Unresponsive Scroll Table v1.0</a></h3>
        <p>This table is responsive, and allows you to hide and expand content using the Design System accordion component</p></li>
      </ul>


      <h2 class="govuk-heading-l">Inspiration and Research</h2>
      <p>Ideas and inspiration from these prototypes have been taken from the following resources, many of which were shared in the cross-government front-end slack channel:</p>

      <ul class="govuk-list">
        <li><a href="https://codepen.io/aardrian/pen/YEKmxP?editors=1000">General Accessible and Responsive Table by Adrien Roselli</a></li>
        <li><a href="https://github.com/fenwick17/responsive-tables">Adam Fenwick's adaptation of this table</a></li>
        <li><a href="https://ets-alpha.london.cloudapps.digital/app/transactions/search?q=blah">Emissions Trading Registry Table</a></li>
        <li><a href="https://www.gov.uk/performance/services?sortby=number_of_transactions&sortorder=descending">Performance Services Table</a></li>
        <li><a href="https://responsive-tables.herokuapp.com/tables/transactions">Transactions Table</a></li>
      </ul>

    </div>
</div>

{% endblock %}
