
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        CAIT Comparison Table - Option Two
      </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Average starting costs</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">   
            <th class="govuk-table__header" scope="col">Mediation tools and services</th>
            <th class="govuk-table__header" scope="col">Professional mediation</th>         
            <th class="govuk-table__header" scope="col">Lawyer negotiation</th>         
            <th class="govuk-table__header" scope="col">Collaborative law</th>        
            <th class="govuk-table__header" scope="col">Going to court</th>      
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">         
          <tr class="govuk-table__row">       
            <td class="govuk-table__cell">Free to £150</td>        
            <td class="govuk-table__cell">£90 per session</td>
            <td class="govuk-table__cell">£110 per hour</td>
            <td class="govuk-table__cell">£110 per hour</td>
            <td class="govuk-table__cell">£305 if there are no safety concerns</td>
          </tr>
        </tbody>
      </table>


      <table class="govuk-table">
        <caption class="govuk-table__caption">Average time it takes</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Mediation tools and services</th>
            <th class="govuk-table__header" scope="col">Professional mediation</th>
            <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
            <th class="govuk-table__header" scope="col">Collaborative law</th>     
            <th class="govuk-table__header" scope="col">Going to court</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body"> 
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Own pace</td>
            <td class="govuk-table__cell">3 to 5 sessions</td> 
            <td class="govuk-table__cell">TBC</td>
            <td class="govuk-table__cell">TBC</td>
            <td class="govuk-table__cell">6 months</td>   
          </tr>        
        </tbody>
      </table>


      <table class="govuk-table">
        <caption class="govuk-table__caption">How much can you speak</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Mediation tools and services</th>
            <th class="govuk-table__header" scope="col">Professional mediation</th>
            <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
            <th class="govuk-table__header" scope="col">Collaborative law</th>
            <th class="govuk-table__header" scope="col">Going to court</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">As much as you like</td>
            <td class="govuk-table__cell">As much as you like</td>
            <td class="govuk-table__cell">Your lawyer speaks for you</td>
            <td class="govuk-table__cell">Your lawyer will help you to prepare</td>
            <td class="govuk-table__cell">Only when the judge asks you to</td> 
          </tr>   
        </tbody>
      </table>


      <table class="govuk-table">
        <caption class="govuk-table__caption">Long-term success rate</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Mediation tools and services</th>
            <th class="govuk-table__header" scope="col">Professional mediation</th>
            <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
            <th class="govuk-table__header" scope="col">Collaborative law</th>
            <th class="govuk-table__header" scope="col">Going to court</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">As much as you like</td>
            <td class="govuk-table__cell">As much as you like</td>
            <td class="govuk-table__cell">Your lawyer speaks for you</td>
            <td class="govuk-table__cell">Your lawyer will help you to prepare</td>
            <td class="govuk-table__cell">Only when the judge asks you to</td>  
          </tr>
        </tbody>
      </table>

      <table class="govuk-table"> 
        <caption class="govuk-table__caption">Who decides</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Mediation tools and services</th>
            <th class="govuk-table__header" scope="col">Professional mediation</th>
            <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
            <th class="govuk-table__header" scope="col">Collaborative law</th>
            <th class="govuk-table__header" scope="col">Going to court</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">You and the other parent</td>
            <td class="govuk-table__cell">You and the other parent</td>
            <td class="govuk-table__cell">You and the other parent</td>
            <td class="govuk-table__cell">You and the other parent</td>
            <td class="govuk-table__cell">Judge or magistrate</td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Legally binding</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Mediation tools and services</th>
            <th class="govuk-table__header" scope="col">Professional mediation</th>
            <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
            <th class="govuk-table__header" scope="col">Collaborative law</th>
            <th class="govuk-table__header" scope="col">Going to court</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">No</td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Adaptable arrangements</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Mediation tools and services</th>
            <th class="govuk-table__header" scope="col">Professional mediation</th>
            <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
            <th class="govuk-table__header" scope="col">Collaborative law</th>
            <th class="govuk-table__header" scope="col">Going to court</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">No</td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Legally enforcable</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Mediation tools and services</th>
            <th class="govuk-table__header" scope="col">Professional mediation</th>
            <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
            <th class="govuk-table__header" scope="col">Collaborative law</th>
            <th class="govuk-table__header" scope="col">Going to court</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">No</td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Legally enforcable</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Mediation tools and services</th>
            <th class="govuk-table__header" scope="col">Professional mediation</th>
            <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
            <th class="govuk-table__header" scope="col">Collaborative law</th>
            <th class="govuk-table__header" scope="col">Going to court</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">No</td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Appointment location, dates and times to suit you</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Mediation tools and services</th>
            <th class="govuk-table__header" scope="col">Professional mediation</th>
            <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
            <th class="govuk-table__header" scope="col">Collaborative law</th>
            <th class="govuk-table__header" scope="col">Going to court</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">No</td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Help you manage conflict with the other parent</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Mediation tools and services</th>
            <th class="govuk-table__header" scope="col">Professional mediation</th>
            <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
            <th class="govuk-table__header" scope="col">Collaborative law</th>
            <th class="govuk-table__header" scope="col">Going to court</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td> 
            <td class="govuk-table__cell">Yes</td> 
            <td class="govuk-table__cell">Yes</td>   
            <td class="govuk-table__cell">No</td> 
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption">What other parents say</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Mediation tools and services</th>
            <th class="govuk-table__header" scope="col">Professional mediation</th>
            <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
            <th class="govuk-table__header" scope="col">Collaborative law</th>
            <th class="govuk-table__header" scope="col">Going to court</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">TBC</td>
            <td class="govuk-table__cell">TBC</td>
            <td class="govuk-table__cell">TBC</td>
            <td class="govuk-table__cell">TBC</td> 
            <td class="govuk-table__cell">TBC</td>
          </tr>
        </tbody>
      </table>

    </div>
</div>

{% endblock %}
