
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Option 3 - Responsive Accordion Table
      </h1>

      <div class="govuk-accordion" data-module="accordion" id="accordion-default">

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Average starting costs
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            
            <table class="govuk-table responsive-table-three">
              <caption class="govuk-table__caption">Average starting costs</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">   
                  <th class="govuk-table__header" scope="col">Mediation tools and services</th>
                  <th class="govuk-table__header" scope="col">Professional mediation</th>         
                  <th class="govuk-table__header" scope="col">Lawyer negotiation</th>         
                  <th class="govuk-table__header" scope="col">Collaborative law</th>        
                  <th class="govuk-table__header" scope="col">Going to court</th>      
                </tr>
              </thead>
              
              <tbody class="govuk-table__body">         
                <tr class="govuk-table__row">       
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>Free to £150</td>       
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Professional mediation</span>£90 per person</td>       
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Lawyer negotiation</span>£110 per hour</td>      
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Collaborative law</span>£110 per hour</td>
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Going to court</span>£305 if there&#39;re no safety concerns</td>  
                </tr>
              </tbody>
            </table>

          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Average time it takes 
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <table class="govuk-table responsive-table-three">
            <caption class="govuk-table__caption">Average time it takes</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Mediation tools and services</th>
                <th class="govuk-table__header" scope="col">Professional mediation</th>
                <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
                <th class="govuk-table__header" scope="col">Collaborative law</th>     
                <th class="govuk-table__header" scope="col">Going to court</th>
              </tr>
            </thead>
            
            <tbody class="govuk-table__body"> 
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>Own pace</td>
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Professional mediation</span>3-5 sessions</td>
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Lawyer negotiation</span>TBC</td>
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Collaborative law</span>TBC</td>      
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Going to court</span>6 months</td> 
              </tr>        
            </tbody>
          </table>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                How much can you speak
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            
            <table class="govuk-table responsive-table-three">
            <caption class="govuk-table__caption">How much can you speak</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Mediation tools and services</th>
                <th class="govuk-table__header" scope="col">Professional mediation</th>
                <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
                <th class="govuk-table__header" scope="col">Collaborative law</th>
                <th class="govuk-table__header" scope="col">Going to court</th>
              </tr>
            </thead>
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
              <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>Own pace</td>
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>As much as you like</td>       
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Professional mediation</span>As much as you like</td>        
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Lawyer negotiation</span>Your lawyer speaks for you</td>                
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Collaborative law</span>Your lawyer will help you to prepare</td>
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Going to court</span>Only when the judge asks you to</td>       
              </tr>   
            </tbody>
          </table>

          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Long term success rate
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            
          <table class="govuk-table responsive-table-three">
            <caption class="govuk-table__caption">Long-term success rate</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Mediation tools and services</th>
                <th class="govuk-table__header" scope="col">Professional mediation</th>
                <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
                <th class="govuk-table__header" scope="col">Collaborative law</th>
                <th class="govuk-table__header" scope="col">Going to court</th>
              </tr>
            </thead>
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>TBC</td>       
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Professional mediation</span>69%</td>            
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Lawyer negotiation</span>TBC</td>        
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Collaborative law</span>TBC</td>
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Going to court</span>14%</td>          
              </tr>
            </tbody>
          </table>

          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Long term success rate
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            
          <table class="govuk-table responsive-table-three">
            <caption class="govuk-table__caption">Long-term success rate</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Mediation tools and services</th>
                <th class="govuk-table__header" scope="col">Professional mediation</th>
                <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
                <th class="govuk-table__header" scope="col">Collaborative law</th>
                <th class="govuk-table__header" scope="col">Going to court</th>
              </tr>
            </thead>
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>TBC</td>       
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Professional mediation</span>69%</td>            
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Lawyer negotiation</span>TBC</td>        
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Collaborative law</span>TBC</td>
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Going to court</span>14%</td>          
              </tr>
            </tbody>
          </table>

          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Who decides
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            
          <table class="govuk-table responsive-table-three"> 
            <caption class="govuk-table__caption">Who decides</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Mediation tools and services</th>
                <th class="govuk-table__header" scope="col">Professional mediation</th>
                <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
                <th class="govuk-table__header" scope="col">Collaborative law</th>
                <th class="govuk-table__header" scope="col">Going to court</th>
              </tr>
            </thead>
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>You and the other parent</td>  
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Professional mediation</span>You and the other parent</td>         
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Lawyer negotiation</span>You and the other parent</td>           
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Collaborative law</span>You and the other parent</td>           
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Going to court</span>Judge or magistrate</td>           
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Legally binding
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            
          <table class="govuk-table responsive-table-three">
            <caption class="govuk-table__caption">Legally binding</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Mediation tools and services</th>
                <th class="govuk-table__header" scope="col">Professional mediation</th>
                <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
                <th class="govuk-table__header" scope="col">Collaborative law</th>
                <th class="govuk-table__header" scope="col">Going to court</th>
              </tr>
            </thead>
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>No</td>              
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Professional mediation</span>No</td>            
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Lawyer negotiation</span>No</td>         
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Collaborative law</span>No</td>            
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Going to court</span>Yes</td>        
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Adaptable arrangements
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            
          <table class="govuk-table responsive-table-three">
            <caption class="govuk-table__caption">Adaptable arrangements</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Mediation tools and services</th>
                <th class="govuk-table__header" scope="col">Professional mediation</th>
                <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
                <th class="govuk-table__header" scope="col">Collaborative law</th>
                <th class="govuk-table__header" scope="col">Going to court</th>
              </tr>
            </thead>
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>Yes</td>         
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Professional mediation</span>Yes</td>               
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Lawyer negotiation</span>Yes</td>         
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Collaborative law</span>Yes</td>       
                <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Going to court</span>No</td>          
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Legally enforcable
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <table class="govuk-table responsive-table-three">
              <caption class="govuk-table__caption">Legally enforcable</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Mediation tools and services</th>
                  <th class="govuk-table__header" scope="col">Professional mediation</th>
                  <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
                  <th class="govuk-table__header" scope="col">Collaborative law</th>
                  <th class="govuk-table__header" scope="col">Going to court</th>
                </tr>
              </thead>
              
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>No</td>         
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Professional mediation</span>No</td>     
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Lawyer negotiation</span>No</td>           
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Collaborative law</span>No</td>           
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Going to court</span>No</td>       
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Appointment location, dates and times to suit you
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <table class="govuk-table responsive-table-three">
              <caption class="govuk-table__caption">Appointment location, dates and times to suit you</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Mediation tools and services</th>
                  <th class="govuk-table__header" scope="col">Professional mediation</th>
                  <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
                  <th class="govuk-table__header" scope="col">Collaborative law</th>
                  <th class="govuk-table__header" scope="col">Going to court</th>
                </tr>
              </thead>
              
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>Yes</td>
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Professional mediation</span>Yes</td>           
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Lawyer negotiation</span>Yes</td>           
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Collaborative law</span>Yes</td>           
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Going to court</span>No</td> 
                </tr>
              </tbody>
            </table>    
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Help you manage conflict with the other parent
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <table class="govuk-table  responsive-table-three">
              <caption class="govuk-table__caption">Help you manage conflict with the other parent</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Mediation tools and services</th>
                  <th class="govuk-table__header" scope="col">Professional mediation</th>
                  <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
                  <th class="govuk-table__header" scope="col">Collaborative law</th>
                  <th class="govuk-table__header" scope="col">Going to court</th>
                </tr>
              </thead>
              
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>Yes</td>
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Professional mediation</span>Yes</td>           
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Lawyer negotiation</span>Yes</td>           
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Collaborative law</span>Yes</td>           
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Going to court</span>No</td>  
                </tr>
              </tbody>
            </table>  
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                What other parents say
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <table class="govuk-table responsive-table-three">
              <caption class="govuk-table__caption">What other parents say</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Mediation tools and services</th>
                  <th class="govuk-table__header" scope="col">Professional mediation</th>
                  <th class="govuk-table__header" scope="col">Lawyer negotiation</th>
                  <th class="govuk-table__header" scope="col">Collaborative law</th>
                  <th class="govuk-table__header" scope="col">Going to court</th>
                </tr>
              </thead>
              
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Mediation tools and services</span>TBC</td>          
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Professional mediation</span>TBC</td>           
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Lawyer negotiation</span>TBC</td>           
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Collaborative law</span>TBC</td>           
                  <td class="govuk-table__cell"><span class="table-heading" aria-hidden="true">Going to court</span>TBC</td>   
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}